.navigation-content {
  grid-area: navigation-content;

  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-normal);

  background-color: var(--color-gray-dark);
}

.navigation-content > .title {
  padding: 0 var(--spacing-normal);
  margin-top: 0;
  margin-bottom: var(--spacing-tiny);

  font-size: 14px;
  font-weight: unset;
  text-transform: uppercase;
}

.navigation-content > .title:last-of-type {
  margin-top: auto;
}

.navigation-content .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .2rem 0;
  padding: 0 var(--spacing-normal);
  
  font-weight: bold;
  
  border-left: 3px solid transparent;

  transition: color .1s linear, border-color .1s linear;
}

.navigation-content .link > .badge {
  padding: 0 .5rem;

  font-weight: normal;
  font-size: 12px;

  background-color: var(--color-gray-medium);

  border-radius: var(--spacing-small);

  transition: background-color .1s linear, color .1s linear;
}

.navigation-content .link:hover,
.navigation-content .link:focus {
  color: white;

  border-left-color: var(--color-cyan);
}

.navigation-content .link:hover > .badge,
.navigation-content .link:focus > .badge {
  color: var(--color-cyan);
  background-color: white;
}

.navigation-content > .actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 95px;
  grid-gap: var(--spacing-small);
  padding: 0 var(--spacing-normal);
}

.navigation-content > .actions > .action {
  background-color: transparent;
  color: inherit;
  
  border: 1px dashed var(--color-gray-light);
  border-radius: var(--spacing-tiny);

  cursor: pointer;
  transition: border-color .1s linear, color .1s linear;
}

.navigation-content > .actions > .action:hover,
.navigation-content > .actions > .action:focus {
  color: white;
  border-color: var(--color-cyan);
}