.search-form {
  display: flex;
  flex-direction: row-reverse;
}

.search-form > .input {
  flex: 1;
  
  color: white;
}

.search-form > .submit {
  margin-right: var(--spacing-small);

  transition: color .1s linear;
}

.search-form > .input:focus ~ .submit {
  color: var(--color-cyan);
}