:root {
  --spacing-tiny: .7rem;
  --spacing-small: 1rem;
  --spacing-normal: 2rem;
  --spacing-large: 4rem;

  --color-gray-dark: rgb(38, 41, 54);
  --color-gray-medium: rgb(48, 53, 68);
  --color-gray-light: #656D8B;
  --color-cyan: #02ADC4;
  --color-yellow: #FFBA01;
  --color-blue: #3E8ED7;
  --color-red: #C27647;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Source Sans Pro Bold"),
       local("SourceSansPro-Bold"),
       url("../assets/source-sans-pro-bold.woff2") format('woff2');
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Source Sans Regular Light"),
       local("SourceSansRegular-Light"),
       url("../assets/source-sans-pro-regular.woff2") format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  font: 400 19px/1.6 "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "navigation-header list-header password-header"
    "navigation-content list-content password-details";
  grid-template-columns: 15rem minmax(23rem, 1fr) 1fr;
  grid-template-rows: 6rem 1fr;
  grid-column-gap: var(--spacing-normal);
  height: 100vh;
  margin: unset;

  background: var(--color-gray-medium) no-repeat bottom center/contain;
  background-image: url("../assets/tree-line-6.png"), url("../assets/tree-line-13.png");
  color: var(--color-gray-light);

  overflow: hidden;

}

a {
  text-decoration: none;
  color: inherit;
  outline:none;
}

img, svg {
  vertical-align: middle;
}

input, button {
  padding: unset;
  margin: unset;

  font: inherit;
  
  border: none;

  color: inherit;
  background-color: transparent;

  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.-yellow { color: var(--color-yellow); }
.-blue { color: var(--color-blue); }
.-cyan { color: var(--color-cyan); }
.-red { color: var(--color-red); }

.grid {
  display: flex;
  align-items: flex-start;
}