.password-list {
  padding: unset;
  margin: unset;

  list-style-type: none;
}

.password-list > .item {
  display: flex;
  align-items: center;
  padding: var(--spacing-tiny) var(--spacing-small);

  transition: background-color .1s linear;
}

.password-list > .item:hover,
.password-list > .item:focus {
  background-color: rgba(0, 0, 0, .2);
}

.password-list > .item > .icon {
  margin-right: var(--spacing-small);
  flex-shrink: 0;

  color: var(--color-cyan);
}

.password-list > .item .title {
  margin: unset;

  font-weight: unset;
  line-height: 1;
}

.password-list > .item .username {
  margin: unset;

  font-size: 14px;
}

.password-list > .item > .button {
  opacity: 0;

  transform: translateX(-.5rem);
}

.password-list > .item > .button:first-of-type {
  margin-left: auto;
  margin-right: var(--spacing-tiny);
}

.password-list > .item:hover > .button,
.password-list > .item:focus > .button {
  opacity: 1;

  transform: translateX(0);
}