.password-list {
  padding: unset;
  margin: unset;

  list-style-type: none;
}

.password-list > .item {
  display: flex;
  align-items: center;
  padding: var(--spacing-tiny) var(--spacing-small);

  transition: background-color .1s linear;
}

.password-list > .item:hover,
.password-list > .item:focus {
  background-color: rgba(0, 0, 0, .2);
}

.password-list > .item:hover > .action,
.password-list > .item:focus > .action {
  opacity: 1;
}

.password-list > .item > .icon {
  margin-right: var(--spacing-small);
  flex-shrink: 0;

  color: var(--color-cyan);
}

.password-list > .item .title {
  margin: unset;

  font-weight: unset;
  line-height: 1;
}

.password-list > .item .username {
  margin: unset;

  font-size: 14px;
}

.password-list > .item > .action {
  background-color: unset;

  cursor: pointer;
  opacity: 0;

  transition: color .1s linear, opacity .1s linear;
}

.password-list > .item > .action:first-of-type {
  margin-left: auto;
  margin-right: var(--spacing-small);
}

.password-list > .item > .action:hover,
.password-list > .item > .action:focus {
  color: white;
}